.my-list-name{
    border-bottom-style: solid;
    border-bottom-color: var(--ion-color-secondary);
    border-radius:10px;
    background:none;
}

.ion-item{
    height: 167px;
}

.my-padding {
    // padding: 8px;
    padding-left: 0px;
    padding-right: 0px;
}