<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="shopping-list">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label translate>tab-active-list</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="my-lists">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label translate>tab-my-lists</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="options">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label translate>options</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
